name: Build Marimo App

permissions:
  contents: write


on:
  push:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.11
      - name: Install dependencies
        run: pip install -r requirements.txt
      - name: Export Marimo app
        run: marimo export html-wasm Homework2.py -o docs --mode run --no-show-code

